@import "./theme.scss";

$primary-dark: $crimson-dark;
$primary-light: $crimson-light;
$secondary-dark: $darkslategrey-dark;
$secondary-light: $darkslategrey-light;
$ternary-light: $ghostwhite-light;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  transition: 0.3s all ease-in-out;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.tm-btn {
  height: 44px;
  cursor: pointer;
  padding: 0 15px;
  background-color: transparent;
  border: transparent;
  border-radius: 3px;
  outline: none;
}

.tm-btn-primary {
  background-color: $primary-dark;
  color: $ternary-light;
}
.tm-btn-primary-outline {
  border: 1px solid $primary-dark;
  color: $primary-dark;
}
.tm-btn-primary-outline:hover {
  font-weight: bold;
  color: $secondary-light;
  background-color: $primary-light;
}

.tm-btn-secondary {
  background-color: $secondary-dark;
  color: $ternary-light;
}
.tm-btn-secondary-outline {
  border: 1px solid $secondary-dark;
  color: $secondary-dark;
}

.tm-btn-secondary-light {
  background-color: lighten($color: $secondary-light, $amount: 10);
  color: $ternary-light;
}
.tm-btn-secondary-light:hover {
  background-color: $secondary-light;
}
.tm-btn-secondary-light-outline {
  border: 1px solid $secondary-light;
  color: $secondary-dark;
}

.tm-title-text {
  font-size: 16px;
  font-weight: bold;
}

.tm-title-subtext {
  font-size: 12px;
}

.tm-input-field-wrap {
  width: 100%;
  border: 1px solid lighten($color: $secondary-light, $amount: 60);
  border-radius: 2px;
  outline-color: $secondary-light;

  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.tm-input-field-wrap svg:first-child {
  margin-left: 10px;
}

.tm-input-field-wrap .tm-input-field {
  background-color: $ternary-light;
  outline: none;
  border: 1px solid transparent;
  padding: 10px 10px;
  width: 100%;
}

.tm-input-field-wrap:hover,
.tm-input-field-wrap:focus,
.tm-input-field-wrap:active,
.tm-input-field-wrap:focus-within {
  border: 1px solid $secondary-dark;
}
