@import "./theme.scss";

$primary-dark: $crimson-dark;
$primary-light: $crimson-light;
$secondary-dark: $darkslategrey-dark;
$secondary-light: $darkslategrey-light;
$ternary-light: $ghostwhite-light;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  transition: 0.3s all ease-in-out;
}

.tm-btn {
  cursor: pointer;
  padding: 5px 15px;
  background-color: transparent;
  border: transparent;
  border-radius: 3px;
  outline: none;
}

.tm-btn-primary {
  background-color: $primary-dark;
  color: $ternary-light;
}
.tm-btn-primary-outline {
  border: 1px solid $primary-dark;
  color: $primary-dark;
}

.tm-btn-secondary {
  background-color: $secondary-dark;
  color: $ternary-light;
}
.tm-btn-secondary-outline {
  border: 1px solid $secondary-dark;
  color: $secondary-dark;
}

.tm-btn-secondary-light {
  background-color: $secondary-light;
  color: $ternary-light;
}
.tm-btn-secondary-light-outline {
  border: 1px solid $secondary-light;
  color: $secondary-dark;
}

.tm-title-text {
  font-size: 16px;
  font-weight: bold;
}

.tm-title-subtext {
  font-size: 12px;
}

.tm-input-field {
  border: 1px solid lighten($color: $secondary-light, $amount: 60);
  border-radius: 2px;
  padding: 5px 10px;
  margin: 3px 0px;
  outline-color: $secondary-light;

  &:hover {
    border: 1px solid $secondary-dark;
  }
}
