$dark-red-primary: #c60021;
$dark-red-secondary: #00c6a5;
$light-red-primary: #ff143b;
$light-red-secondary: #14ffd8;

$dark-grey-primary: #a9a9a9;
$dark-grey-secondary: #d3d3d3;
$light-grey-primary: #fafafa;
$light-grey-secondary: #fafafa;

$dark-green: #006678;
$light-green: #80c8bd;

// Black and Yellow
$dark-yellow: #f4c811;
$th-bny-raisin-black: #242423;
$th-bny-jet: #333533;
$light-yellow: #f5d23a;

// Earthy
$th-earthy-aurometalsaurus: #6b9080;
$th-earthy-cambridge-blue: #a4c3b2;
$th-earthy-columbia-blue: #cce3de;
$th-earthy-anti-flash-white: #eaf4f4;
$th-earthy-mint-cream: #f6fff8;

// Darkish
$th-jet: #303633;
$th-middle-blue-green: #8be8cb;
$th-weldon-blue: #7ea2aa;
$th-gray-blue: #888da7;
$th-mountbatten-pink: #9c7a97;
