@import "../../../index.scss";

#tm-footer {
  color: $primary-light;
  background-color: $secondary-light;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 75px;

  bottom:0;
	top:auto;
}
