@import "../../../index.scss";

.tm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(250, 250, 250, 0.9);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.tm-modal-close-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;

  color: $primary-dark;
  &:hover {
    font-weight: bold;
    color: $primary-light;
  }
}
