/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (max-width: 576px) {
  #menu {
    display: none;
  }

  #navbar .nav-items-container {
    align-items: center;
    flex-direction: column !important;
  }
  #menu.isactive {
    display: flex !important;
    flex-direction: column;
  }

  #menu li {
    padding: 2px;
  }

  .login-modal-title {
    font-size: 24px !important;
  }

  .login-container {
    width: 80% !important;
    flex-direction: column !important;
  }

  .left-container {
    width: 100% !important;
  }

  .right-container {
    width: 100% !important;
  }
}
