@import "../../resources/styles/index.scss";

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-dark-grey;
}

#navbar .logo {
  width: 80px;
  height: 30px;
}

#navbar .nav-items-container {
  display: flex;
}

#menu {
  display: flex;
  align-items: center;
  list-style: none;
}

#menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu button {
  border: none;
  background-color: transparent;
  color: $primary-dark-red;
  padding: 0px 10px;
  outline: none;

  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

#menu .menu-item.isactive {
  font-weight: bold;
}
