@import "../../../../index.scss";

#tm-OrSeperator {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 10px 0px;
  color: $secondary-dark;
}

.tm-or-seperator-line {
  height: 1px;
  width: 100%;
  margin: 0px 10px;
  background-color: $secondary-dark;
}
