@import "../../../../../index.scss";

#tm-GoogleAuthButton {
  border: 1px solid $secondary-light;
  background-color: $secondary-light;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 5px 15px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  color: $ternary-light;
  font-weight: bold;

  &:hover {
    background-color: lighten($color: $secondary-dark, $amount: 10);
  }
}

#tm-GoogleAuthButton svg:first-child {
  color: $primary-light;
  margin-right: 10px;
  font-size: 20px;
}

#tm-GoogleAuthButton div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
