@import "../../../../../index.scss";

#tm-GoogleAuthButton {
  height: 44px;
  width: 100%;
  border: 1px solid lighten($color: $secondary-light, $amount: 60);
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0px 15px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  color: $secondary-light;
  font-weight: bold;

  &:hover {
    border: 1px solid $secondary-dark;
  }
}

.tm-GoogleAuthButton-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tm-GoogleAuthButton-container svg:first-child {
  color: $primary-light;
  margin-right: 10px;
  font-size: 20px;
}

.tm-GoogleAuthButton-container .tm-login-btn-text-container {
  width: 100%;
}
