@import "../../resources/styles/index.scss";

.hamburger-menu {
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  height: 0.8rem;
  &:hover {
    .hamburger-line {
      height: 2px;
    }
  }

  //
  .hamburger-line {
    width: 1rem;
    height: 1px;
    background-color: $primary-dark-red;
    transition: 0.5s all ease-in-out;
  }
}

.hamburger-menu.isactive {
  .hamburger-line:first-child {
    background-color: $dark-green;
    transform: rotate(40deg) translate(3px, 3px);
  }
  .hamburger-line:nth-last-child(2) {
    opacity: 0;
  }
  .hamburger-line:last-child {
    background-color: $dark-green;
    transform: rotate(-40deg) translate(3px, -3px);
  }
}
