@import "../../../../index.scss";

.modal-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-shadow: 0px 0px 5px 0px black;
  margin: 20px 0;
}

.login-main-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-sub-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $dark-green;
}

.manual-login-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.manual-login-container > div {
  margin: 3px 0;
}

.ui-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  width: 90%;
}

.ui-divider > hr {
  width: 100%;
  height: 1px;
  margin: 0 10px;
}

@media only screen and (min-width: 576px) {
  .modal-content {
    flex-direction: row !important;
  }

  .login-main-wrap {
    flex-grow: 2;
  }

  .login-sub-wrap {
    flex-grow: 2;
  }
}

@media only screen and (max-width: 576px) and (orientation: landscape) {
  .login-sub-wrap {
    justify-content: space-around;
    flex-direction: row !important;
  }
  .login-sub-wrap button {
    margin: 0;
  }
}
