@import "../../../../../index.scss";

#tm-ForgotPassword {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  color: $secondary-light;
}

#tm-ForgotPassword hr {
  margin-top: 30px;
  margin-bottom: 10px;
}

.tm-title-text-wrap {
  color: $secondary-light;
  margin: 20px 0px;
}

#tm-ForgotPassword .tm-input-field-wrap {
  margin-bottom: 10px;
}

#tm-ForgotPassword .tm-title-subtext{
  font-size: 16px;
}